---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/MainLayout.astro';
import BlogCard from '../../../src/components/BlogCard.astro';

const posts = await getCollection('blog');
---

<Layout title='Blog'>
  <main>
    <h1>Blog de tecnología</h1>
    <div>
      {
        posts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            imagePath={post.data.thumbnail}
            technologies={[]}
            link={`/blog/${post.slug}/`}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 0px 20px;
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 20px;
  }
</style>
