form {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

input {
  display: block;
  width: 90%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 4px;

  background-color: hsl(0, 0%, 95%);
  border: none;

  font-size: 0.95em;
}

textarea {
  display: block;
  width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 4px;

  background-color: hsl(0, 0%, 95%);
  border: none;

  font-size: 0.95em;
}

div.alert {
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

div.success {
  background-color: hsl(81, 20%, 80%);
}

div.error {
  background-color: hsl(0, 73%, 56%);
  color: white;
}

div.alert > svg {
  font-size: 1.8rem;
  margin-right: 10px;
}
