---
import Layout from '../layouts/MainLayout.astro';
import About from '../blocks/about.astro';
import Portfolio from '../blocks/portfolio.astro';
import Contact from '../blocks/contact.astro';
import Experience from '../blocks/experience.astro';

export const prerender = true;
---

<Layout title="Ricardo Alvarez-Correa's portfolio website">
  <main>
    <div class='homepage'>
      <div class='homepageContent'>
        <About />
        <Experience />
        <Portfolio />
        <Contact />
      </div>
    </div>
  </main>
</Layout>
