---
import Layout from '../layouts/MainLayout.astro';
import About from '../blocks/about.astro';
import Portfolio from '../blocks/portfolio.astro';
import Contact from '../blocks/contact.astro';
import Experience from '../blocks/experience.astro';
---

<Layout title='Ricardo Alvarez-Correa | Tutoriales y noticias de tecnología'>
  <main>
    <div class='homepage'>
      <div class='homepageContent'>
        <About />
        <Experience />
        <Portfolio />
        <Contact />
      </div>
    </div>
  </main>
</Layout>
