---
import CardsContainer from '../components/CardsContainer.astro';
import Layout from '../layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';

const cards = [
  {
    project: 'Li.Fi',
    imagePath: '/',
    technologies: ['Wordpress', 'Woocommerce', 'Javascript', 'PHP'],
  },
  { project: 'Modo', imagePath: '/', technologies: ['React', 'MongoDB', 'Express'] },
  {
    project: 'Globant',
    imagePath: '/',
    technologies: ['React', 'Firebase', 'Serverless functions'],
  },
  {
    project: '',
    imagePath: '/',
    technologies: ['Wordpress', 'Woocommerce', 'Javascript'],
  },
  { project: 'Clinica Carriazo', imagePath: '/', technologies: ['Wordpress'] },
  { project: 'Gina Parody', imagePath: '/', technologies: ['Next'] },
];
---

<Layout title='Portfolio'>
  <main>
    <div class='homepage'>
      <div class='homepageContent'>
        <div class='hero'></div>
        <div class='about' id='about'>
          <div class='aboutContainer'>
            <div class='imageContainer'>
              <div class='imageHolder'>
                <img src='/images/profile.jpeg' alt='Profile image' />
              </div>
            </div>
            <div class='textContent'>
              <div>
                <h2>Hello there!</h2>
                <p>
                  My name is <strong>Ricardo Alvarez-Correa Mercado</strong>. I am a
                  <b> fullstack developer</b> with more than 5 years of experience working with clients all over the world.
                </p>
                <p>My current tech stack is:</p>

                <ul class='techStack'>
                  <li>
                    <Icon name='skill-icons:mongodb' />
                  </li>
                  <li>
                    <Icon name='skill-icons:nodejs-dark' />
                  </li>
                  <li>
                    <Icon name='skill-icons:postgresql-dark' />
                  </li>
                  <li>
                    <Icon name='skill-icons:react-dark' />
                  </li>
                  <li>
                    <Icon name='skill-icons:expressjs-dark' />
                  </li>
                </ul>
                <a target='_blank' href='https://www.linkedin.com/in/ralvarezcorrea/' class='linkedinBtn'>
                  <Icon name='skill-icons:linkedin' />
                  Connect with me on Linkedin
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='portfolio' id='portfolio'>
          <div class='portfolioContainer'>
            <h2>Portfolio</h2>
            <CardsContainer cards={cards} />
          </div>
        </div>
        <div class='contact' id='contact'>
          <div class='contactContainer'>
            <h2>Drop me a message</h2>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .homepage {
    .about {
      width: 100%;
      min-height: calc(70vh - 110px);
      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: 1px solid hsla(0, 0%, 90%, 0.3);

      .aboutContainer {
        display: flex;
        flex-direction: row;
        width: 1200px;
        .imageContainer {
          width: 50%;
          .imageHolder {
            position: relative;
            height: 400px;
            width: 400px;
            border-radius: 100%;
            border: 2px solid hsla(0, 0%, 0%, 0.2);
            box-shadow: 0px 6px 10px 4px hsla(0, 0%, 0%, 0.09);
            margin: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              box-sizing: border-box;
              padding: 0;
              border: none;
              margin: auto;
              display: block;
              width: 0;
              height: 0;
              min-width: 100%;
              max-width: 100%;
              min-height: 100%;
              max-height: 100%;
              border-radius: 100%;
              overflow: clip;
            }
          }
        }
        .textContent {
          width: 50%;
          display: flex;
          align-items: center;

          h2 {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 20px;
          }

          .techStack {
            list-style: none;
            margin-bottom: 20px;
            li {
              display: inline-block;
              margin-right: 20px;
              font-size: 2.2em;
            }

            .mongo {
              color: #4db33d;
            }
            .postgres {
              color: #0064a5;
            }
            .react {
              color: #0064a5;
            }
            .express {
            }
            .node {
              color: #68a063;
            }
          }

          .linkedinBtn {
            background-color: #2867b2;
            color: white;
            border: none;
            height: 40px;
            padding: 0px 40px;

            font-size: 1em;

            display: flex;
            align-items: center;
            font-weight: 600;
            width: fit-content;

            text-decoration: none;

            .icon {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .portfolio {
      width: 100%;

      min-height: calc(60vh - 110px);
      display: flex;
      align-items: flex-start;
      justify-content: center;

      background-color: hsla(0, 0%, 0%, 0.05);

      .portfolioContainer {
        width: 1200px;

        h2 {
          text-align: center;
          margin-top: 60px;
        }
      }
    }

    .contact {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .contactContainer {
        width: 1200px;

        h2 {
          text-align: center;
          margin-top: 60px;
        }

        .form {
          position: relative;
          width: fit-content;
          margin: auto;
          margin-top: 40px;
          margin-bottom: 100px;
        }
      }
    }
  }
</style>
