---
import { Icon } from 'astro-icon/components';
interface Props {
  text: string;
  type?: 'submit' | 'button' | 'reset' | null;
  className?: string;
  icon?: string;
}

const { text, type, className, icon } = Astro.props;
---

<button type={type} class={`btn ${className}`}>
  {icon ? <Icon name={icon} class='mr-10' /> : null}
  {text}
</button>

<style>
  .btn {
    display: block;
    height: 50px;
    padding: 0px 20px;
    border-radius: 4px;

    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .form-button {
    display: block;
    width: 90%;
    max-width: 500px;
    height: 50px;
    margin: auto;
    border: none;
    background-color: hsl(131, 22%, 29%);
    color: white;

    font-size: 1em;
    font-weight: 600;
  }
</style>
