---
import Card from './Card.astro';
import { type Card as CardType } from './types/card';

interface Props {
  cards: CardType[];
}

const { cards } = Astro.props;
---

<div class='grid-container'>
  {
    cards.map((card) => (
      <Card
        project={card.project}
        imagePath={card.imagePath}
        technologies={card.technologies}
        keypoints={card.keypoints}
      />
    ))
  }
</div>

<style>
  .grid-container {
    width: 100%;
    position: relative;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
