---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class='row'>
    <h3>rialdev</h3>
    <p>&copy; {currentYear} All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    min-height: 20vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: hsl(211, 34%, 23%);
  }

  footer > .row {
    color: white;
    text-align: center;
  }

  .row > h1 {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: hsl(211, 54%, 88%);
  }

  .row > h3 {
    font-size: 1.3em;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .row > p {
    padding-bottom: 20px;
  }
</style>
