---
import { Icon } from 'astro-icon/components';
import Link from '../components/Link.astro';
---

<section class='about' id='about'>
  <div class='about-container'>
    <div class='image-container'>
      <div class='image-holder'>
        <img src='/images/profile.jpeg' alt='Profile image' />
      </div>
    </div>
    <div class='text-content'>
      <div>
        <h2 class='component-heading'>&lt; Sobre mi /&gt;</h2>
        <h4>Hola mundo!</h4>
        <p>Mi nombre es</p>
        <h1>Ricardo Alvarez-Correa Mercado</h1>
        <p>Soy un desarrollador Fullstack con más de 5 años de experiencia.</p>

        <div class='code-snippet'>
          <div class='header'>
            <h5>Stack de tecnología principal</h5>
            <Icon name='carbon:close-filled' />
          </div>
          <div class='content'>
            <ul class='tech-stack'>
              <li>
                <Icon name='devicon:nodejs' />
                <span>NodeJs</span>
              </li>
              <li>
                <Icon name='devicon:mongodb' />
                <span>MongoDB</span>
              </li>
              <li>
                <Icon name='devicon:postgresql' />
                <span>PostgreSQL</span>
              </li>
              <li>
                <Icon name='devicon:react' />
                <span>React</span>
              </li>
              <li>
                <Icon name='devicon:express' />
                <span>Express</span>
              </li>
              <li>
                <Icon name='devicon:solidjs' />
                <span>SolidJs</span>
              </li>
              <li>
                <Icon name='devicon:redis' />
                <span>Redis</span>
              </li>
              <li>
                <Icon name='devicon:astro' />
                <span>Astro</span>
              </li>
              <li>
                <Icon name='devicon:wordpress' />
                <span>Wordpress</span>
              </li>
            </ul>
          </div>
        </div>

        <div class='code-snippet'>
          <div class='header'>
            <h5>Experiencia en...</h5>
            <Icon name='carbon:close-filled' />
          </div>
          <div class='content'>
            <ul class='tech-stack'>
              <li>
                <Icon name='devicon:rust' />
                <span>Rust</span>
              </li>

              <li>
                <Icon name='devicon:nestjs' />
                <span>NestJs</span>
              </li>
              <li>
                <Icon name='devicon:python' />
                <span>Python</span>
              </li>
              <li>
                <Icon name='devicon:dynamodb' />
                <span>DynamoDB</span>
              </li>
            </ul>
          </div>
        </div>

        <div class='link-container'>
          <Link
            text='Conecta conmigo'
            className='about-link'
            icon='linkedin'
            href='https://www.linkedin.com/in/ralvarezcorrea/'
            target='_blank'
          />
          <Link text='Github' className='about-link' icon='github' href='https://github.com/rialco' target='_blank' />
          <Link
            text='Twitch'
            className='about-link'
            icon='twitch'
            href='https://www.twitch.tv/rialcom'
            target='_blank'
          />
          <Link
            text='Youtube'
            className='about-link'
            icon='youtube'
            href='https://www.youtube.com/@rialdev'
            target='_blank'
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .about {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: none;

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 90%, 0.3);
  }

  .about-container {
    position: relative;
    container-name: about-container;
    display: flex;

    flex-direction: column;
    width: 1200px;
  }

  .image-container {
    position: relative;
    width: 100%;
    padding-top: 20px;
  }

  .image-holder {
    display: block;
    position: relative;
    max-height: 370px;
    max-width: 370px;
    height: 90vw;
    width: 90vw;
    border-radius: 100%;
    box-shadow: 0px 6px 10px 4px hsla(210, 66%, 36%, 0.29);
    margin: auto;
    overflow: clip;
    transition: 0.5s ease-in-out;
  }

  .image-holder > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .text-content {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .text-content > div > h4 {
    margin-bottom: 20px;
  }

  .text-content > div p {
    margin-bottom: 6px;
  }

  .text-content h1 {
    font-size: 1.2em;
    margin-bottom: 6px;
  }

  .code-snippet {
    border-radius: 10px;
    margin: 20px 0px;
    overflow: hidden;
    background-color: hsl(0, 0%, 95%, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  }

  .code-snippet .content {
    position: relative;
    padding: 20px;
    color: hsl(0, 0%, 35%);
  }

  .code-snippet .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 20px;
    background-color: hsl(211, 34%, 23%);
  }

  .code-snippet .header h5 {
    font-size: 1em;
    color: white;
  }

  .code-snippet .header svg {
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;
  }

  .tech-stack-heading {
    margin-bottom: 20px;
  }

  .tech-stack {
    margin: auto;
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tech-stack > li {
    width: 110px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }

  .tech-stack li > span {
    margin-left: 8px;
    font-size: 1rem;
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
  }

  .white-icon {
    fill: white;
  }

  @media (min-width: 768px) {
    .about {
      height: 100vh;
      max-height: 700px;
    }
    .image-container {
      width: 50%;
      padding-top: 0px;
    }
    .about-container {
      flex-direction: row;
    }
    .text-content {
      padding: 0px;
      width: 40%;
    }
  }
</style>
