---
import { Icon } from 'astro-icon/components';
import Link from '../components/Link.astro';

import '../styles/blocks/about.css';
---

<section class='about' id='about'>
  <div class='about-container'>
    <div class='image-container'>
      <div class='image-holder'>
        <img src='/images/profile.jpeg' alt='Profile image' />
      </div>
    </div>
    <div class='text-content'>
      <div>
        <h2 class='component-heading'>&lt; About me /&gt;</h2>
        <h4>Hello world!</h4>
        <p>
          My name is <b>Ricardo Alvarez-Correa Mercado</b>.
          <br />I am a <strong>Fullstack developer</strong> with over <strong>5 years of experience</strong>
        </p>
        <p class='tech-stack-heading'>My main tech stack is:</p>

        <ul class='tech-stack'>
          <li>
            <Icon name='devicon:nodejs' />
            <span>NodeJs</span>
          </li>
          <li>
            <Icon name='devicon:mongodb' />
            <span>MongoDB</span>
          </li>
          <li>
            <Icon name='devicon:postgresql' />
            <span>PostgreSQL</span>
          </li>
          <li>
            <Icon name='devicon:nextjs' />
            <span>NextJs</span>
          </li>
          <li>
            <Icon name='devicon:express' />
            <span>Express</span>
          </li>
        </ul>

        <p class='tech-stack-heading'>Also worked with:</p>

        <ul class='tech-stack'>
          <li>
            <Icon name='devicon:rust' />
            <span>Rust</span>
          </li>
          <li>
            <Icon name='devicon:redis' />
            <span>Redis</span>
          </li>
          <li>
            <Icon name='devicon:astro' />
            <span>Astro</span>
          </li>
          <li>
            <Icon name='devicon:nestjs' />
            <span>NestJs</span>
          </li>
          <li>
            <Icon name='devicon:python' />
            <span>Python</span>
          </li>
          <li>
            <Icon name='devicon:dynamodb' />
            <span>DynamoDB</span>
          </li>
        </ul>

        <Link
          text='Connect with me on LinkedIn'
          className='linkedin-btn'
          icon='linkedin'
          href='https://www.linkedin.com/in/ralvarezcorrea/'
          target='_blank'
        />
      </div>
    </div>
  </div>
</section>
