---
import Button from '../components/Button.astro';
---

<div class='contact' id='contact'>
  <div class='contact-container'>
    <h2>Drop me a message</h2>
    <form>
      <input type='text' class='text-input' name='name' placeholder='Name' />
      <input type='email' class='text-input' name='email' placeholder='Email' />
      <input type='text' class='text-input' name='subject' placeholder='Subject' />
      <textarea class='text-area' name='message' placeholder='Message'></textarea>
      <Button text='Send message' type='submit' />
    </form>
  </div>
</div>

<style>
  .contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .contact-container {
      width: 100%;
      .text-input {
        display: block;
        width: 90%;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
        padding-left: 20px;
        border-radius: 4px;

        background-color: hsl(0, 0%, 95%);
        border: none;

        font-size: 0.95em;
      }

      .text-area {
        display: block;
        width: 90%;
        height: 150px;
        margin: auto;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 10px;
        border-radius: 4px;

        background-color: hsl(0, 0%, 95%);
        border: none;

        font-size: 0.95em;
      }
      h2 {
        text-align: center;
        margin-top: 60px;
      }

      form {
        position: relative;
        width: 100%;
        max-width: 500px;
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 100px;

        .btn {
          display: block;
          width: 90%;
          max-width: 500px;
          height: 50px;
          margin: auto;
          border: none;
          background-color: hsl(131, 22%, 29%);
          color: white;

          font-size: 1em;
          font-weight: 600;
        }
      }
    }
  }
</style>
