---
import Button from '../components/Button.astro';
import { Form } from '../components/solid/contactForm';
import '../components/solid/contactForm.module.css';
---

<section class='contact' id='contact'>
  <div class='contact-container'>
    <h2 class='component-heading'>&lt; Contact /&gt;</h2>
    <h4>Drop me a message!</h4>
    <Form client:only='solid'>
      <Button text='Send message' type='submit' className='form-button' />
    </Form>
  </div>
</section>

<style>
  .contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-container {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-top: 60px;
  }

  h4 {
    text-align: center;
  }
</style>
