---
import { Icon } from 'astro-icon/components';
import Button from '../components/Button.astro';
import { sendEmail } from '../functions/email';

const alerts: string[] = [];

if (Astro.request.method === 'POST') {
  try {
    const ip = Astro.clientAddress;
    const data = await Astro.request.formData();
    const name = data.get('name')?.toString();
    const email = data.get('email')?.toString();
    const subject = data.get('subject')?.toString();
    const message = data.get('message')?.toString();

    if (!name || !email || !subject || !message) throw new Error('Fields are missing');

    const result = await sendEmail(name, email, subject, message, ip);

    if (result) {
      alerts.push('Email sended successfully');
    }
  } catch (error: any) {
    alerts.push(error.message);
  }
}
---

<section class='contact' id='contact'>
  <div class='contact-container'>
    <h2>Drop me a message</h2>

    <form method='post'>
      <div class='form-alert-container'>
        {
          alerts.map((alert) => (
            <div class='alert'>
              <Icon name='alert' />
              <span>{alert}</span>
            </div>
          ))
        }
      </div>
      <input type='text' class='text-input' name='name' placeholder='Name' />
      <input type='email' class='text-input' name='email' placeholder='Email' />
      <input type='text' class='text-input' name='subject' placeholder='Subject' />
      <textarea class='text-area' name='message' placeholder='Message'></textarea>
      <Button text='Send message' type='submit' />
    </form>
  </div>
</section>

<style>
  .contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .contact-container {
      width: 100%;
      .text-input {
        display: block;
        width: 90%;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
        padding-left: 20px;
        border-radius: 4px;

        background-color: hsl(0, 0%, 95%);
        border: none;

        font-size: 0.95em;
      }

      .text-area {
        display: block;
        width: 90%;
        height: 150px;
        margin: auto;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 10px;
        border-radius: 4px;

        background-color: hsl(0, 0%, 95%);
        border: none;

        font-size: 0.95em;
      }
      h2 {
        text-align: center;
        margin-top: 60px;
      }

      form {
        position: relative;
        width: 100%;
        max-width: 500px;
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 100px;

        .form-alert-container {
          background-color: hsl(81, 20%, 80%);
          padding: 20px;
          border-radius: 6px;
          margin-bottom: 20px;

          .alert {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
          }

          svg {
            font-size: 1.8rem;
            margin-right: 10px;
          }
        }

        .btn {
          display: block;
          width: 90%;
          max-width: 500px;
          height: 50px;
          margin: auto;
          border: none;
          background-color: hsl(131, 22%, 29%);
          color: white;

          font-size: 1em;
          font-weight: 600;
        }
      }
    }
  }
</style>
