---
import CardCarousel from '../components/CardCarousel.astro';

const cards = [
  {
    project: 'Crescent Garden',
    imagePath: '/images/crescent.jpg',
    technologies: ['Javascript', 'PHP', 'Woocommerce', 'SAP B1', 'MySQL'],
    keypoints: [
      'Desarrollador fullstack',
      'Experiencia manejando un ecommerce con miles de visitantes diarios.',
      'Refactorización de funcionalidades personalizadas.',
      'Encargado del desarrollo y manejo de nuevos proyectos web.',
      'Encargado de mantener y optimizar la integración con SAP mediante el Service Layer API.',
    ],
  },
  {
    project: 'Li.Fi',
    imagePath: '/images/lifi_jumper.jpg',
    technologies: ['NodeJs', 'Typescript', 'MongoDB', 'Express', 'Fastify', 'Redis'],
    keypoints: [
      'Desarrollador backend',
      'Validación de "payload" en los endpoints.',
      'Experiencia implementando sistema de estimacion de gas en blockchain.',
      'Experiencia "mocking" la suite de tests para simular los llamados a la red.',
      'Migración de Redis hacia MongoDB para optimizar procesos y uso de memoria.',
      'Refactorización de "middlewares" de autenticación.',
      'Implementación de nuevo microservicio para auto servicio de backoffice.',
    ],
  },
  {
    project: 'Modo',
    imagePath: '/images/modo.jpg',
    technologies: ['NodeJS', 'NestJs', 'Express', 'DynamoDB', 'PostgreSQL', 'JWT', 'Docker', 'Kubernetes'],
    keypoints: [
      'Desarrollador backend',
      'Startup fintech bajo la metologia SCRUM.',
      'Encargado de agregar funciones a los diversos micro-servicios y mantenimiento de funciones legacy.',
      'Colaboración en la migración de monolito a micro-servicios.',
      'Implementacion de estrategias de autenticación con JWT.',
      'Experiencia con suites de testing con Jest',
      'Asistencia en revisiones de codigo.',
    ],
  },
  {
    project: 'Globant',
    imagePath: '/images/globant.jpg',
    technologies: [
      'NodeJs',
      'Javascript',
      'Typescript',
      'Express',
      'Microsoft SQL Server',
      'Jenkins',
      'Docker',
      'Kubernetes',
    ],
    keypoints: [
      'Desarrollador Fullstack',
      'Consultor en compañias de Estados Unidos y Latinoamerica.',
      'Adaptación a diversos equipos multidisciplinarios de manera fluida y en modalid de "Staff augmentation".',
      'Scrum Master',
    ],
  },
];
---

<section class='experience' id='experience'>
  <div class='experience-container'>
    <h2 class='component-heading'>&lt; Experiencia &gt;</h2>
    <h4>Ultimos trabajos</h4>
    <CardCarousel cards={cards} />
  </div>
</section>

<style>
  .experience {
    background-color: hsl(210, 30%, 96%);
    width: 100%;

    min-height: calc(60vh - 110px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .experience-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }

  h2 {
    text-align: left;
    margin-top: 60px;
  }
</style>
