---
import CardsContainer from '../components/CardsContainer.astro';

const cards = [
  {
    project: 'Profesor de programación',
    imagePath: '/images/fundacion.png',
    technologies: ['Html', 'Javascript', 'CSS'],
    keypoints: [
      'Desde que tengo memoria he sido muy curioso con la tecnología, y siempre que puedo me gusta compartir mi conocimiento con los demas. Por esta razón, asisto a dar clases de pprogramación en la fundación camino de Maria a jovenes de bajos recursos. ',
    ],
  },
  {
    project: 'Bot de Whatsapp con IA',
    imagePath: '/images/whatsapp.png',
    technologies: ['Typescript', 'Queries', 'Webhooks'],
    keypoints: [
      'Principios de arquitectura limpia',
      'Bot de whatsapp que atiende las conversaciones con ayuda de inteligencia artifical para brindarle al usuario una experiencia lo más cercana a una interacción humana posible.',
    ],
  },

  {
    project: 'Agregador de RPCs de Blockchain',
    imagePath: '/images/rpc_aggregator.jpg',
    technologies: ['NodeJs', 'Typescript', 'Ethersjs'],
    keypoints: [
      'Proyecto base para agregar RPCs de blockchain en una sola interfaz',
      'Principios de arquitectura limpia',
      'Este proyecto te permite hacer llamados a la blockchain a traves de una interfaz que agrega distintos RPCs, si una llamada falla tratara de utilizar el proximo proveedor de RPC y asi sucesivamente.',
    ],
  },
  {
    project: 'Analiticas de eventos en la Blockchain',
    imagePath: '/images/blockchain_analytics.jpg',
    technologies: ['NodeJS', 'Grafana', 'Typescript', 'Postgress'],
    keypoints: [
      'Proyecto base para obtener los eventos que ocurren en la blockchain',
      'Principios de arquitectura limpia',
      'Este proyecto se utilizaba para escuchar todos los eventos emitidos en la blockchain y procedia a guardarlos en una base de datos PostgreSQL.',
      'Se utilizaba en conjunto con un dashboard de Grafana para visualizar los datos en diversos graficos.',
    ],
  },
  {
    project: 'ARI CANADA VISIONNEMENT INC.',
    imagePath: '/images/ari_canada.jpg',
    technologies: ['Wordpress', 'Woocommerce', 'Javascript', 'PHP'],
    keypoints: [
      'Sitio web en Wordpress y Woocommerce',
      'Este sitio web fue un proyecto freelance para una empresa dedicada a servicios migratorios.',
      'Se utilizo Woocommerce para procesar pagos de los servicios que ofrecia la empresa.',
      'Creada desde cero. Desde los visuales ejecutivos hasta las funcionalidades personalizadas necesarias por el equipo.',
    ],
  },
];
---

<section class='portfolio' id='portfolio'>
  <div class='portfolio-container'>
    <h2 class='component-heading'>&lt; Portafolio /&gt;</h2>
    <h4>Ultimos proyectos</h4>
    <CardsContainer cards={cards} />
  </div>
</section>

<style>
  .portfolio {
    width: 100%;

    min-height: calc(60vh - 110px);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: hsla(40, 15%, 92%);
  }

  .portfolio-container {
    width: 1200px;
    padding: 20px;
  }

  .portfolio-container > h2 {
    text-align: left;
    margin-top: 60px;
  }
</style>
